$loaderSize: 80px;

:host {
  width: 100vw;
  height: 100vh;
  background: white;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-ring {
  display: block;
  position: absolute;
  width: $loaderSize;
  height: $loaderSize;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

.message {
  text-align: center;
  font-size: 1.2rem;
  position: relative;
  top: calc(50% + $loaderSize);
  margin: 0 2vw;
}
