@if (error()) {
  <app-error [message]="error()">
    You can file an issue on <a href="https://github.com/RikudouSage/NixPackageHistoryFrontend" target="_blank" rel="noopener noreferrer">GitHub</a>.
  </app-error>
} @else if (!(packageNames().length && tags().length)) {
  <app-loader message="Populating package cache, please wait... (this is only gonna happen when you use a new browser)"/>
} @else {
  <div>
    <header>
      <div class="navbar navbar-static-top">
        <div class="navbar-inner">
          <div class="container">
            <div>
              <ul class="nav pull-left">
                <li><a routerLink="/">Home</a></li>
                <li><a href="https://search.nixos.org" target="_blank" rel="noreferrer noopener">Official NixOS search</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container main">
      <div id="content">
        <div class="search-page" [class.not-asked]="!childDisplayed()" [class.success]="childDisplayed()">
          <h1>Search through <strong>{{packageNames().length | formatNumber}} packages</strong></h1>
          <form class="search-input" [formGroup]="form" (submit)="search()">
            <div>
              <div class="position-relative">
                <input type="text" id="search-query-input" autofocus autocomplete="off"
                       formControlName="packageName"
                       placeholder="Search for package versions"/>
                @if (!childDisplayed()) {
                  <ul class="autocomplete-results">
                    @for (option of autocompleteHints(); track option.displayName) {
                      <li (click)="goToPackage(option.package)" [innerHTML]="option.displayName | pseudoTags"></li>
                    }
                  </ul>
                }
              </div>
              <button class="btn" type="submit">Search</button>
            </div>
          </form>
          <router-outlet (activate)="childDisplayed.set(true)" (deactivate)="childDisplayed.set(false)"></router-outlet>
        </div>
      </div>
      <footer class="container text-center">
        <div>
          <span>Report issues on </span>
          <a href="https://github.com/RikudouSage/NixPackageHistoryFrontend">GitHub</a>
          <span>.</span>
          @if (latestRevision?.datetime && latestRevision?.revision) {
            <ng-container>
              Latest revision: <strong>{{latestRevision!.revision}}</strong> ({{latestRevision!.datetime! | formatDatetime}})
            </ng-container>
          }
        </div>
      </footer>
    </div>
  </div>
}
