.no-hover {
  &:hover, &:focus {
    color: #777777 !important;
    cursor: default;
    pointer-events: none;
  }
}

.position-relative {
  position: relative;
}

.autocomplete-results {
  display: none;
  max-height: 66vh;
  overflow: scroll;

  margin-left: 0;
  li {
    list-style-type: none;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    background: #fff;
    padding-left: 1vw;
    overflow: hidden;

    &:hover {
      background: #eee;
    }
  }
}

input:focus, input:not(:placeholder-shown) {
  & + .autocomplete-results {
    display: block;
  }
}
